<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.cgz.bloodsoulnote2">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainApplicationTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityActivity">
        </activity>
        <activity
            android:name=".activity.lifecycle.LifeCycleActivity"
            android:label="@string/title_activity_life_cycle"
            android:theme="@style/MainApplicationTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.lifecycle.SecondActivity">
        </activity>
        <activity android:name=".broadcastreceiver.BroadcastReceiverActivity">
        </activity>
        <activity android:name=".thread.handlethread.HandleThreadActivity">
        </activity>
        <activity android:name=".thread.ThreadActivity">
        </activity>
        <activity android:name=".thread.handlethread.MarketTrendActivity">
        </activity>
        <activity android:name=".thread.handlethread.MutilDownloadActivity">
        </activity>
        <activity android:name=".service.ServiceActivity">
        </activity>
        <service android:name=".service.start.StartService"/>
        <service android:name=".service.bind.BindService"/>
        <service android:name=".service.bind.MyIntentService"/>
        <provider
            android:authorities="com.bloodsoul.provider"
            android:name=".provider.BloodsoulProvider"
            android:exported="false"/>
    </application>

</manifest>